<div class="footer-wrap">
    <div class="container col-group">
        <div class="left row-group">
            <a href="" class="footer-logo">
                <img src="images/footer_logo.png" alt="">
            </a>
            <div class="footer-link-wrap col-group">
                <a href="" class="footer-link">
                    개인정보처리방침
                </a>
                <a href="" class="footer-link">
                    이용약관
                </a>
            </div>
            <div class="footer-txt-wrap row-group">
                <div class="footer-txt-group col-group">
                    <p class="footer-txt">(주)마인드아이티</p>
                    <p class="footer-txt">대표이사 : 홍길동</p>
                    <p class="footer-txt">주소 : 경기도 고양시 덕양구 삼송로 240, 힐스테이트삼송역스칸센 202동 248호</p>
                </div>
                <div class="footer-txt-group col-group">
                    <p class="footer-txt">사업자등록번호 : 117-86-02993</p>
                    <p class="footer-txt">대표번호 : 02-381-2024</p>
                    <p class="footer-txt">이메일 : email@email.com</p>
                </div>
            </div>
            <p class="footer-copy-txt">
                Copyright 2024 (주)마인드아이티 All rights reserved.
            </p>
            <div class="sns-btn-wrap col-group">
                <a href="" class="sns-btn">
                    <img src="/images/sns_btn_kc.png" alt="">
                </a>
                <a href="" class="sns-btn">
                    <img src="/images/sns_btn_insta.png" alt="">
                </a>
                <a href="" class="sns-btn">
                    <img src="/images/sns_btn_blog.png" alt="">
                </a>
                <a href="" class="sns-btn">
                    <img src="/images/sns_btn_ytb.png" alt="">
                </a>
                <a href="" class="sns-btn">
                    <img src="/images/sns_btn_ks.png" alt="">
                </a>
                <a href="" class="sns-btn">
                    <img src="/images/sns_btn_band.png" alt="">
                </a>
                <a href="" class="sns-btn">
                    <img src="/images/sns_btn_fb.png" alt="">
                </a>
            </div>
        </div>
    </div>
</div>